@model DTO.Banner

@* FORMULÁRIO *@
<div id="" class="conteudo">
    <section>

        @* TARJA SUPERIOR *@
        <div class="tarja-superior cor-degrade-preto">
            <h4><span class="animated infinite bounceInLeft">&#10687;</span><b>CADASTRO BANNER</b></h4>

            @* BOTÃO FECHAR *@
            <div class="btn-sair-formulario"><b>SAIR</b></div>
        </div>


        @* FORMULÁRIO CADASTRO *@
        <form action="~/Banner/PostGravarBanner" data-ajax="true" data-ajax-loading="#progress" data-ajax-mode="replace" data-ajax-update="#conteudo" id="form" method="post" enctype="multipart/form-data">
            <div class="campos-formulario">

                @* IMAGEM *@
                <div class="box-conteudo-60">              
                    <div class="campo-arquivo">
                        <div>
                            <input type="file" accept="image/*" id="arquivo" name="arquivo" onchange="carregarImagem()"/>
                            <img src="~/Imagens/FUNDO-NO-IMG.png" alt="IMG-FUNDO" id="imagem"/>
                        </div>
                    </div>
                </div>

                <div class="box-conteudo-40">

                    @* CAMINHO IMAGEM *@
                    <div class="campo campo-100">
                        <span class="field-validation-valid" data-valmsg-for="base64imagem" data-valmsg-replace="true"></span><label>CÓDIGO IMAGEM</label>
                        <input class="text-box single-line uppercase txt" data-val="true" data-val-required="OBRIGATÓRIO" id="base64imagem" name="base64imagem" type="text" value="" readonly="readonly"/>
                    </div>

                    @* NOME *@
                    <div class="campo campo-100">
                        <span class="field-validation-valid" data-valmsg-for="Nome" data-valmsg-replace="true"></span><label>NOME BANNER</label>
                        <input class="text-box single-line uppercase txt" data-val="true" data-val-required="OBRIGATÓRIO" id="Nome" name="Nome" type="text" maxlength="100" value="" />
                    </div>

                    @* ESTATUS *@
                    <div class="campo campo-100">
                        <span class="field-validation-valid" data-valmsg-for="Estatus" data-valmsg-replace="true"></span><label>ESTATUS</label>
                        <select class="text-box single-line uppercase txt" data-val="true" data-val-required="OBRIGATÓRIO" id="Estatus" name="Estatus">
                            <option value="">ESCOLHA</option>
                            <option value="ATIVO">ATIVO</option>
                            <option value="INATIVO">INATIVO</option>
                        </select>
                    </div>

                    @{
                        // UNIDADES
                        string perfil = Session["PerfilAcesso"].ToString();
                        if (perfil == "DIR" || perfil == "SUP")
                        {
                            <div class="campo campo-100">
                                <span class="field-validation-valid" data-valmsg-for="Unidade" data-valmsg-replace="true"></span><label>UNIDADES</label>
                                <select class="text-box single-line uppercase txt" data-val="true" data-val-required="OBRIGATÓRIO" id="Unidade" name="Unidade">
                                    <option value="">ESCOLHA</option>
                                    @foreach (var item in ViewBag.Unidades)
                                    {
                                        <option value="@item.Unidade">@item.Unidade</option>
                                    }
                                </select>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" id="Unidade" name="Unidade" value="@Session["Unidade"]" />
                        }
                    }
                    

                    @* BOTÕES *@
                    <div class="campo-btn cor-degrade-cinza campo-100">
                        <label for="arquivo" class="btn campo-40 btn-margem-right">IMAGEM</label>
                        <input class="btn campo-40" type="submit" value="SALVAR">
                    </div>
                </div>

            </div>
        </form>
    </section>
</div>

@* FUNÇÕES QUE SERÃO EXECUTADAS *@
<script type="text/javascript">

    // INTERAÇÕES
    abrirFormulario();
    $('.btn-sair-formulario').on('click', fecharFormulario);

    // VALIDAÇÃO
    jQuery.validator.unobtrusive.parse();
    jQuery.validator.unobtrusive.parse("#form");

</script>
