<div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <img src="~/Imagens/LOGO-CONTATO.png" alt="LOGO CONTATO" />
    <h2>Estamos com problemas ao enviar sua mensagem, desculpe! <br /> Por favor, envie um e-mail para:</h2>
    <h3>contato@mcaguiassp.com.br</h3>
</div>


@* FUNÇÕES QUE SERÃO EXECUTADAS *@
<script type="text/javascript">

    // REMOVE TODO CONTEUDO CONTATO
    $('#conteudo-contato').css('display', 'none');

</script>
