@{
    ViewBag.Title = "Agenda";
    Layout = "~/Views/LayoutPadrao/_EventoLayout.cshtml";
}
@Styles.Render("~/Content/Evento")

@* INTERFACE *@
<div id="evento"></div>

@Scripts.Render("~/bundles/Evento")