<div id="carrossel-vazio" class="animated zoomInUp">
    <img src="~/Imagens/SEM-BANNER.jpg" alt="BANNER" />
</div>

@* FUNÇÕES QUE SERÃO EXECUTADAS *@
<script type="text/javascript">
    $("#progress").css('display', 'none');
</script>
