@* BRASIL *@
<div class="row">
    @* TITULO *@
    <h1>Unidades | Brasil</h1>

    <a data-ajax="true" data-ajax-loading="#progress" data-ajax-mode="replace" data-ajax-update="#unidade-resultado" href="/Home/UnidadeRegioes">
        <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto scroll"><p>SP</p></div>
    </a>
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>RJ</p></div>
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>MG</p></div>
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>BH</p></div>
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>BA</p></div>
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>GO</p></div>
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>RS</p></div>
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>DF</p></div>
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>MA</p></div>
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>RO</p></div>
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>CE</p></div>
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>MA</p></div>
</div>

@* MUNDO *@
<div class="row">
    @*TITULO *@
    <h1>Unidades | Mundo</h1>

    @*FILTRO 1 - ESTADOS *@
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>Estados Unidos</p></div>
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>Bolivia</p></div>
    <div id="BtnSaoPaulo" class="btn-unidades col-sm-4 col-xs-6 cor-degrade-preto"><p>Argentina</p></div>
</div>
