@* RODAPÉ *@
<footer class="cor-degrade-preto">

    @* SUPERIOR *@
    <div class="container">
        <section class="row">

            @* REDES SOCIAIS *@
            <div class="footer-redes-sociais col-xs-12">
                <p>Siga-nos nas Redes Sociais</p>
                <ul>
                    <li><a href="https://pt-br.facebook.com/mcaguiassp" target="_blank"><div><img src="~/Imagens/icone-face.png" alt="img-icone"></div></a></li>
                    <li><a href="https://www.instagram.com/mcaguiassp/" target="_blank"><div><img src="~/Imagens/icone-instagran.png" alt="img-icone"></div></a></li>
                    <li><a href="https://www.youtube.com/channel/UCOBe2-6581jL0AL8PcANR_g?view_as=subscriber" target="_blank"><div><img src="~/Imagens/icone-youtube.png" alt="img-icone"></div></a></li>
                </ul>
                <h1><span class="icone-fonte-laranja"></span>mcaguiassp</h1>
            </div>
        </section>
    </div>

    @* INFERIOR *@
    <div class="footer-info">
        <div class="container">
            <section class="row">
                <div class="col-xs-12">
                    <p><span class="icone-fonte-laranja"></span> 2018 Moto Clube Águias de Cristo. Todos os direitos reservados</p>
                </div>
            </section>
        </div>
    </div>

    @* TARJA FIM *@
    <div class="tarja-fim cor-degrade-laranja"></div>

</footer>
