<!DOCTYPE html>
<html lang="pt-BR">
<head>
    @* METAS - SITE *@
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1" />
    @* OUTROS *@
    <title>ÁGUIAS DE CRISTO</title>
    <link href="~/Imagens/AguiasCristo_ICO.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
    @Styles.Render("~/Content/Index")
</head>
<body>
    <div id="tela-erro-index">
        <img src="~/Imagens/LOGO-ATENCAO.png" alt="IMG-ERRO" />
        <h3>
            Desculpem! <br />
            Estamos com problemas, tente mais tarde.
        </h3>
    </div>
</body>
</html>

